.dark .prism-dark .prism-code-editor {
  --pce-bg: var(--background);
  --pce-cursor: var(--foreground);
  --pce-selection: hsl(215 45% 45% / 0.45);
  --pce-bg-highlight: transparent;
  --pce-selection-match: hsl(215 45% 55% / 0.3);
  --pce-line-number: var(--muted-foreground);
  --pce-scrollbar: 30, 7%, 35%;
  --pce-guide-indent: hsl(48 45% 88% / 0.15);
  --pce-bg-fold: var(--muted-foreground);
  --pce-widget-border: var(--border);
  --pce-widget-bg: var(--card);
  --pce-widget-color: var(--foreground);
  --pce-widget-color-active: var(--editor-fg);
  --pce-widget-color-options: var(--muted-foreground);
  --pce-widget-bg-input: var(--editor-bg);
  --pce-widget-bg-hover: var(--muted);
  --pce-widget-bg-active: hsl(42 75% 48% / 0.3);
  --pce-widget-focus: var(--ring);
  --pce-search-match: hsl(42 75% 48% / 0.25);
  color: var(--foreground);
  color-scheme: dark;
}

.dark .prism-dark .token.comment,
.dark .prism-dark .token.prolog,
.dark .prism-dark .token.cdata {
  color: hsl(38 13% 48%);
}
.dark .prism-dark .token.keyword,
.dark .prism-dark .token.selector,
.dark .prism-dark .token.important,
.dark .prism-dark .token.atrule {
  color: hsl(29 53% 64%);
}
.dark .prism-dark .token.operator,
.dark .prism-dark .token.punctuation,
.dark .prism-dark .token.attr-name {
  color: hsl(35 12% 57%);
}
.dark .prism-dark .token.tag,
.dark .prism-dark .token.builtin,
.dark .prism-dark .token.function {
  color: hsl(40 62% 56%);
}
.dark .prism-dark .token.number,
.dark .prism-dark .token.symbol,
.dark .prism-dark .token.property,
.dark .prism-dark .token.constant,
.dark .prism-dark .token.variable {
  color: hsl(25 45% 64%);
}
.dark .prism-dark .token.string,
.dark .prism-dark .token.char,
.dark .prism-dark .token.url {
  color: hsl(70 28% 55%);
}
.dark .prism-dark .token.title.important {
  color: #e0c36f;
  font-weight: 700;
}
.dark .prism-dark .token.title.important > .token.punctuation {
  color: #858993;
  font-weight: 600;
}
.dark .prism-dark .token.bold {
  font-weight: 700;
}
.dark .prism-dark .token.italic {
  font-style: italic;
}
